* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  background: #E1D4C9;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.coffe-menu {
  display: flex;
}

.header__logo {
  cursor: pointer;
}

.coffe-menu h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.header {
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 456px;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  cursor: pointer;
  transition: .5s ease-out;
}

.header nav ul li::after {
  content: "";
  height: 2px;
  width: 30%;
  background: #403F3D;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.4s;
}

.header .coffee-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  cursor: pointer;
  width: 72px;
}

.header .coffee-menu h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8;
  display: inline;
  color: #403F3D;
}

.header .coffee-menu li {
  width: 72px;
  cursor: default;
}

.header .coffee-menu li a {
  cursor: default;
}

.header .coffee-menu img {
  display: inline;
  margin-left: 8px;
}

.header .coffee-menu li::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #403F3D;
  display: block;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.4s;
}

.header nav ul li:hover::after {
  opacity: 1;
  width: 100%;
}

/* 
  COFFEE, TEA, Dessert section
*/

.coffee-tea-des {
  max-width: 1360px;
  margin: 0 auto;
}

.coffee-tea-des h1 {
  color: #403F3D;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.coffee-tea-des h1 span {
  color: #B0907A;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
}

.coffee-tea-des .menu-block {
  max-width: 1360px;
  margin: 0 auto;
}

.coffee-tea-des .menu-block .menu-buttons {
  width: 361px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.menu-block .menu-buttons button img {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 8px;
}

.menu-block .menu-buttons button {
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  background: none;
  padding: 12px 16px 14px 46px;
  color: #403F3D;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  font-family: 'Inter', sans-serif;
  transition: all .6s;
  cursor: pointer;
}

.menu-buttons .coffee-button::before {
  content: url("../img/house-menu/buttons/coffee-icon.svg");
  position: absolute;
  display: block;
  top: 8px;
  left: 8px;
  transition: all .6s;
}

.menu-buttons .tea-button::before {
  content: url("../img/house-menu/buttons/cup-icon.svg");
  position: absolute;
  display: block;
  top: 8px;
  left: 8px;
  transition: all .6s;
}

.menu-buttons .dessert-button::before {
  content: url("../img/house-menu/buttons/cake-icon.svg");
  position: absolute;
  display: block;
  top: 8px;
  left: 8px;
  transition: all .6s;
}

.menu-buttons .coffee-button:hover::before {
  content: url("../img/house-menu/buttons/coffee-icon-hover.svg");
}

.menu-buttons .tea-button:hover::before {
  content: url("../img/house-menu/buttons/cup-icon-hover.svg");
}

.menu-buttons .dessert-button:hover::before {
  content: url("../img/house-menu/buttons/cake-icon-hover.svg");
}

.menu-buttons .coffee-button:hover,
.menu-buttons .tea-button:hover,
.menu-buttons .dessert-button:hover {
  background-color: #665F55;
  color: #E1D4C9;
}

.menu-buttons button.active {
  background-color: #665F55;
  color: #E1D4C9;
  cursor: default;
}

.menu-buttons .coffee-button.active::before{
  content: url("../img/house-menu/buttons/coffee-icon-hover.svg");
}

.menu-buttons .tea-button.active::before{
  content: url("../img/house-menu/buttons/cup-icon-hover.svg");
}

.menu-buttons .dessert-button.active::before{
  content: url("../img/house-menu/buttons/cake-icon-hover.svg");
}


/* 
  menu-buttons
*/

.coffee-tea-des .menu .item {
  width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  margin-top: 40px;
  margin-right: 35px;
  position: relative;
  cursor: pointer;
}

.coffee-tea-des .menu .item img {
  position: absolute;
  left: -15px;
  top: -15px;
  transition: all .6s;
}

.coffee-tea-des .menu .item .parent {
  width: 310px;
  height: 310px;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  margin-bottom: 20px;
}


.coffee-tea-des .menu {
  display: flex;
  flex-wrap: wrap;
}

.coffee-tea-des .menu .item:hover img {
  transform: scale(0.92);
}

.coffee-tea-des .menu .item .about {
  width: 270px;
  margin: 0 auto;
}

.coffee-tea-des .menu .item h6 {
  color: #403F3D;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 12px;
}

.coffee-tea-des .menu .item p {
  color: #403F3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 12px;
}

.coffee-tea-des .menu .item h3 {
  color: #403F3D;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 20px;
}


/* 
  FOOTER
*/

footer {
  max-width: 1360px;
  border-radius: 40px;
  background: #665F55;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 100px;
}

footer .footer-container {
  width: 1160px;
  height: 250px;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

footer .left-side {
  max-width: 530px;
}

footer .left-side h3 {
  color: #E1D4C9;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 40px;
}

footer .left-side h3 span {
  color: #B0907A;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
}

footer .social-media {
  display: flex;
  max-width: 204px;
  justify-content: space-between;
}

.social-media .instagram {
  background-image: url("../img/footer/instagram-default.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 18px;
  background-position: center;
  transition: all .2s;
  cursor: pointer;
}

.social-media .instagram:hover {
  background-image: url("../img/footer/instagram-hover.png");
  background-color: #E1D4C9;
}

.social-media .twiter {
  background-image: url("../img/footer/twiter-default.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 18px;
  background-position: center;
  transition: all .2s;
  cursor: pointer;
}

.social-media .twiter:hover {
  background-image: url("../img/footer/twiter-hover.png");
  background-color: #E1D4C9;
}

.social-media .facebook {
  background-image: url("../img/footer/facebook-default.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 18px;
  background-position: center;
  transition: all .2s;
  cursor: pointer;
}

.social-media .facebook:hover {
  background-image: url("../img/footer/facebook-hover.png");
  background-color: #E1D4C9;
}

footer .right-side {
  width: 530px;
  height: 186px;
  margin-top: 32px;
  color: #E1D4C9;
}

footer .right-side h4 {
  color: #E1D4C9;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

footer .right-side li,
footer .right-side a {
  color: #E1D4C9;
  text-decoration: none;
  list-style-type: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

footer .right-side li {
  margin-bottom: 20px;
}

footer .right-side img {
  margin-right: 8px;
}

footer .right-side a::before {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background: #E1D4C9;
  position: absolute;
  bottom: -6px;
  opacity: 0;
  transition: all .6s;
  margin-left: 30%;
}

footer .right-side a:hover::before {
  opacity: 1;
  width: 100%;
  margin-left: 0;
}

.item_block-to-hide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.refresh-button {
  background: none;
  border: 0px;
  background-image: url(../img/responsive/768px/open-new-items.svg);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 40px;
  display: none;
  cursor: pointer;
}

header .coffee-menu .burger-menu {
  background-image: url("../img/responsive/768px/button-icon-burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
  display: none;
  transition: .8s all;
}

header .coffee-menu .burger-menu.active {
  background-image: url("../img/responsive/768px/button-icon-burger-active.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
  transition: .8s all;
}

.burger-block {
  width: 100%;
  height: 100%;
  background: #E1D4C9;
  position: fixed;
  z-index: 1;
  left: 100%;
  transition: 0.3s;
  display: block;
  top: 100px;
  opacity: 0;
}

.burger-block.active {
  left: 0%;
  position: absolute;
  opacity: 1;
}

body.active {
  overflow: hidden;
}

header {
  overflow: hidden;
}

.burger-block ul li {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 60px;
}

.burger-block ul li a {
  color: #403F3D;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.go-to-ceffe-menu {
  text-decoration: none;
  color: #403F3D;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  font-family: Inter;
  display: block;
  width: 143px;
  margin: 0 auto;
}

.menu .coffee-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.menu .tea-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
}

.menu .tea-section .item {
  margin-right: 0px;
}

.menu .dessert-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
}

.menu .dessert-section .item {
  margin-right: 0px;
}

#item-to-hide-dessert {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item_block-to-hide {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.coffee-tea-des .menu .item_block-to-hide .item {
  margin-right: 0px;
}

.description h3 {
  font-weight: 400;
}

.modal-for-coffee {
  width: 768px;
  padding: 16px;
  border-radius: 40px;
  position: fixed;
  z-index: -99;
  top: 20%;
  left: 25%;
  background: #E1D4C9;
  transition: all 0.6s;
  opacity: 0;
  display: flex;
}

.modal-for-coffee.active {
  z-index: 99;
  opacity: 1;
}

.modal-for-coffee .parent {
  width: 310px;
  height: 310px;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  margin-bottom: 20px;
}

.background {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  display: none;
  transition: all 0.6s;
}

.description {
  width: 55%;
  margin-left: 20px;
}

.description h2 {
  color: #403F3D;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.description p {
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}

.description button {
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 11px 16px 11px 46px;
  background: none;
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
}

.description h3 {
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 8px;
}

.description .add {
  margin-top: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.total h4 {
  color: #403F3D;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.total h6 {
  color: #403F3D;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
}

.background.active {
  display: block;
  opacity: 0.4;
  z-index: 40;
}

.alert {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #C1B6AD;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert p {
  color: #403F3D;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
}

.description button {
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.description .close-button {
  border-radius: 100px;
  border: 1px solid #665F55;
  width: 438px;
  height: 44px;
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  transition: all 0.6s;
  text-align: center;
}

.sizes button,
.additives button {
  margin-right: 4px;
  position: relative;
  transition: all 0.6s;
}

.sizes .small::before {
  content: "";
  background-image: url("../img/house-menu/menu/description/s.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 8px;
  top: 8px;
  transition: all 0.6s;
}

.sizes .avarage::before {
  content: "";
  background-image: url("../img/house-menu/menu/description/m.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 8px;
  top: 6px;
  transition: all 0.6s;
}

.sizes .avarage:hover::before,
.sizes .avarage.active::before {
  background-image: url("../img/house-menu/menu/description/m-active.svg");
}

.sizes .big:hover::before,
.sizes .big.active::before {
  background-image: url("../img/house-menu/menu/description/l-active.svg");
}

.sizes .big::before {
  content: "";
  background-image: url("../img/house-menu/menu/description/l.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 8px;
  top: 6px;
  transition: all 0.6s;
}

.sizes button:hover,
.addictives button:hover {
  transition: all 0.6s;
  background: #665F55;
  color: #E1D4C9;
  cursor: pointer;
}

.sizes .small:hover::before {
  background-image: url("../img/house-menu/menu/description/s-active.svg");
}

.sizes .small.active::before {
  background-image: url("../img/house-menu/menu/description/s-active.svg");
}

.sizes button.active,
.addictives button.active {
  transition: all 0.6s;
  background: #665F55;
  color: #E1D4C9;
}

.description .close-button:hover {
  color:#E1D4C9;
  background: #665F55;
  cursor: pointer;
}

.alert img {
  height: 16px;
  margin-right: 8px;
}

.addictives button {
  position: relative;
}

.addictives .first::before {
  content: "";
  background-image: url("../img/house-menu/menu/description/one.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 8px;
  top: 6px;
  transition: all 0.6s;
}

.addictives .first:hover::before,
.addictives .first.active::before {
  background-image: url("../img/house-menu/menu/description/one-active.svg");
}

.addictives .second::before {
  content: "";
  background-image: url("../img/house-menu/menu/description/two.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 8px;
  top: 6px;
  transition: all 0.6s;
}

.addictives .second:hover::before,
.addictives .second.active::before {
  background-image: url("../img/house-menu/menu/description/two-active.svg");
}

.addictives .third::before {
  content: "";
  background-image: url("../img/house-menu/menu/description/third.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 8px;
  top: 6px;
  transition: all 0.6s;
}

.addictives .third:hover::before,
.addictives .third.active::before {
  background-image: url("../img/house-menu/menu/description/third-active.svg");
}


@media screen and (max-width: 768px) {
  .header .coffee-menu li:first-child {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .footer-container .left-side h3 {
    font-size: 31.5px;
  }
}