@media screen and (max-width: 1440px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 1390px) {
  .header {
    width: 88.7%;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
  .coffee-menu-button {
    display: none;
  }
  .header .coffee-menu li::after {
    display: none;
  }
  .header .coffee-menu {
    width: unset;
  }
  header .coffee-menu .burger-menu {
    display: block;
  }
}

@media screen and (max-width: 385px) {
  .header {
    width: 91.6%;
  }
}


/* 
  HEADER BLOCK
*/

@media screen and (max-width: 1390px) {
  .header-section {
    width: 88.7%;
    height: 644px;
  }

  .header-section .link-block {
    margin-left: 60px;
  }

  .header-section__img {
    background-position: bottom;
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  .header-section {
    width: 91.6%;
  }
  .header-section__img .link-block p,
  .header-section__img .link-block p span {
    font-size: 64px;
  }
  .header-section__img .link-block {
    height: 432px;
    width: 91%;
    margin-left: 16px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 535px){
  .header-section__img .link-block p,
  .header-section__img .link-block p span {
    font-size: 52px;
  }
}

@media screen and (max-width: 432px){
  .header-section__img .link-block p,
  .header-section__img .link-block p span {
    font-size: 42px;
  }
  .header-section__img .link-block {
    height: 432px;
    width: 91%;
    margin-top: 60px;
  }
  .header-section {
    height: 552px;
  }
}

@media screen and (max-width: 1390px) {
  .favorite-coffee {
    width: 88.7%;
  }
  .slider .slide-1 {
      width: 100%;
  }
  /* .slider {
    width: 84.71%;
  } */
}

@media screen and (max-width: 910px) {
  /* .slider .slide-1 {
    width: 90%;
  } */
}

@media screen and (max-width: 800px) {
  /* .slider-block .slider {
    width: 70%;
  } */
}

@media screen and (max-width: 710px) {
  .slider-block .arrow-left,
  .slider-block .arrow-right {
    display: none;
  }
  .slider {
    margin: 0 auto;
  }
  .choose-fav-coffee,
  .choose-fav-coffee span {
    font-size: 38px;
  }
  .slider-block .slider {
    height: unset;
  }
  .slider .slide-1 {
    height: unset;
  }
  .favorite-coffee {
    height: unset;
  }
}

@media screen and (max-width: 510px) {
  .slider img {
    width: 100%;
  }
  .favorite-coffee {
    width: 91.579%;
  }
  .choose-fav-coffee,
  .choose-fav-coffee span {
    font-size: 32px;
  }
  .slider-block .slider {
    height: unset;
  }
  .slider .slide-1 {
    height: unset;
  }
  .favorite-coffee {
    height: unset;
  }
}

@media screen and (max-width: 1390px) {
  #about-section {
    width: 89.6%;
  }
  .column-2 .parent2,
  .column-1 .parent2 {
    display: none;
 }
 .about-section__columns {
  flex-wrap: wrap;
 }
 .about-section .column-1,
 .about-section .column-2 {
  height: unset;
  margin: 0 auto;
 }
 .favorite-coffee {
  max-width: 1360px;
  height: unset;
  }
  .about-section {
    height: unset;
  }
}

@media screen and (max-width: 769px) {
  .about-section .column-1,
  .about-section .column-2 {
    width: 100%;
  }
  .column-1 .parent,
  .column-2 .parent {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  #about-section {
    width: 91.6%;
  }
  .parent,
  .column-1 .parents {
    width: 100%;
    margin: 0 auto;
  }
  .column-2,
  .about-section .column-1 {
    width: 100%;
  }
  .about-section {
    height: unset;
  }
  .child {
    left: -10%;
  }
  #about-section h5,
  #about-section span {
    font-size: 32px;
  }
}

@media screen and (max-width: 528px) {
  .about-section .child {
    left: -30%;
  }
}

@media screen and (max-width: 428px) {
  .about-section .child {
    left: -40%;
  }
}

@media screen and (max-width: 400px) {
  .about-section .child {
    left: -54%;
  }
}