@media screen and (max-width: 1440px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 1390px) {
  .header {
    width: 88.7%;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
  .coffee-menu-button {
    display: none;
  }
  .header .coffee-menu li::after {
    display: none;
  }
  .header .coffee-menu {
    width: unset;
  }
  header .coffee-menu .burger-menu {
    display: block;
  }
}

@media screen and (max-width: 385px) {
  .header {
    width: 91.6%;
  }
}


/* 
  HEADER BLOCK
*/

@media screen and (max-width: 1390px) {
  .header-section {
    width: 88.7%;
    height: 644px;
  }

  .header-section .link-block {
    margin-left: 60px;
  }

  .header-section__img {
    background-position: bottom;
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  .header-section {
    width: 91.6%;
  }
  .header-section__img .link-block p,
  .header-section__img .link-block p span {
    font-size: 64px;
  }
  .header-section__img .link-block {
    height: 432px;
    width: 91%;
    margin-left: 16px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 535px){
  .header-section__img .link-block p,
  .header-section__img .link-block p span {
    font-size: 52px;
  }
}

@media screen and (max-width: 432px){
  .header-section__img .link-block p,
  .header-section__img .link-block p span {
    font-size: 42px;
  }
  .header-section__img .link-block {
    height: 432px;
    width: 91%;
    margin-top: 60px;
  }
  .header-section {
    height: 552px;
  }
}

@media screen and (max-width: 1390px) {
  .favorite-coffee {
    width: 88.7%;
  }
  .slider .slide-1 {
      width: 100%;
  }
  /* .slider {
    width: 84.71%;
  } */
}

@media screen and (max-width: 910px) {
  /* .slider .slide-1 {
    width: 90%;
  } */
}

@media screen and (max-width: 800px) {
  /* .slider-block .slider {
    width: 70%;
  } */
}

@media screen and (max-width: 710px) {
  .slider-block .arrow-left,
  .slider-block .arrow-right {
    display: none;
  }
  .slider {
    margin: 0 auto;
  }
  .choose-fav-coffee,
  .choose-fav-coffee span {
    font-size: 38px;
  }
  .slider-block .slider {
    /* height: unset; */
  }
  .slider .slide-1 {
    height: unset;
  }
  .favorite-coffee {
    height: unset;
  }
}

@media screen and (max-width: 510px) {
  .slider img {
    width: 100%;
  }
  .favorite-coffee {
    width: 91.579%;
  }
  .choose-fav-coffee,
  .choose-fav-coffee span {
    font-size: 32px;
  }
  .slider .elements {
    width: 300%;
  }
  .slider .slide-1 {
    height: unset;
  }
  .favorite-coffee {
    height: unset;
  }
}

@media screen and (max-width: 1390px) {
  #about-section {
    width: 89.6%;
  }
  .column-2 .parent2,
  .column-1 .parent2 {
    display: none;
 }
 .about-section__columns {
  flex-wrap: wrap;
 }
 .about-section .column-1,
 .about-section .column-2 {
  height: unset;
  margin: 0 auto;
 }
 .favorite-coffee {
  max-width: 1360px;
  height: unset;
  }
  .about-section {
    height: unset;
  }
}

@media screen and (max-width: 769px) {
  .about-section .column-1,
  .about-section .column-2 {
    /* width: 100%; */
  }
  .column-1 .parent,
  .column-2 .parent {
    /* width: 100%; */
  }
  #mobile-app .left-side {
    width: unset;
  }
}

@media screen and (max-width: 730px) {
  #about-section {
    width: 91.6%;
  }
  .parent,
  .column-1 .parents {
    width: 100%;
    margin: 0 auto;
  }
  .column-2,
  .about-section .column-1 {
    width: 100%;
  }
  .about-section {
    height: unset;
  }
  .child {
    left: -10%;
  }
  #about-section h5,
  #about-section span {
    font-size: 32px;
  }
}

@media screen and (max-width: 528px) {
  .about-section .child {
    left: -30%;
  }
}

@media screen and (max-width: 428px) {
  .about-section .child {
    left: -40%;
  }
}

@media screen and (max-width: 400px) {
  .about-section .child {
    left: -54%;
  }
}

@media screen and (max-width: 1390px) {
  #mobile-app {
    flex-wrap: wrap;
    width: 89.7%;
  }
  .left-side,
  .rigth-side {
    margin: 0 auto;
  }
  #mobile-app .left-side__block {
    width: 630px;
    height: 342px;
    margin-top: unset;
  }
  #mobile-app .left-side {
    height: unset;
  }
  .rigth-side img {
    margin-top: 90px;
    margin-bottom: 100px;
  }
  #mobile-app .left-side__block {
    width: 100%;
  }
  #mobile-app {
    height: unset;
  }
  .rigth-side img {
    margin-bottom: unset;
  }
}

@media screen and (max-width: 700px) {
  .rigth-side img {
    width: 348px;
  }
  #mobile-app .left-side__block .buttons {
    flex-direction: column;
    width: 202px;
  }
  .apple-button {
    margin-bottom: 20px;
  }
  #mobile-app {
    height: unset;
  }
  #mobile-app .left-side__block {
    height: unset;
  }
  #mobile-app .left-side__block .buttons {
    height: unset;
  }
  .rigth-side img {
    margin-bottom: unset;
  }
  #mobile-app {
    width: 91.6%;
  }
  #mobile-app .left-side__block h4,
  #mobile-app .left-side__block span {
    font-size: 32px;
  }
}

@media screen and (max-width: 1390px) {
  .footer-container .left-side,
  .footer-container .rigth-side {
    margin: unset;
  }
  footer .footer-container {
    width: 85.3%;
    flex-wrap: wrap;
    padding: unset;
    padding: 100px 0px 100px 60px;
    height: unset;
  }
  #footer {
    width: 90%;
    height: unset;
  }
}

@media screen and (max-width: 1380px) {
  .footer-container .right-side {
    margin-top: 100px;
  }
}

@media screen and (max-width: 670px) {
  footer .footer-container {
    padding: 60px 0px 60px 16px;
  }
  .footer-container .left-side h1,
  .footer-container .left-side span {
    font-size: 31.5px;
  }
  .footer-container .right-side {
    margin-top: 40px;
  }
  footer .footer-container {
    width: 91%;
  }
  .rigth-side img {
    margin-top: 40px;
  }
}




/* 
  RESPONSIVE DESIGN FOR COFFEE MENU PAGE
*/

@media screen and (max-width: 1390px) {
  .coffee-tea-des {
    width: 100%;
  }
}

@media screen and (max-width: 1352px) {
  .item_block-to-hide {
    display: none;
  }
  .coffee-tea-des .menu .item.kahlua {
    margin-right: 0;
  }
  .menu-block .menu {
    width: 660px;
    margin: 0 auto;
  }
  .refresh-button {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .coffee-tea-des h1 {
    width: 89.6%;
  }
}

@media screen and (max-width: 700px) {
  .menu-block .menu {
    width: 311px;
  }
  .menu-block .menu .item {
    margin-right: 0px;
  }
  .coffee-tea-des h1,
  .coffee-tea-des h1 span {
    font-size: 32px;
  }
  .coffee-tea-des .menu-block .menu-buttons {
    width: 345px;
  }
}

@media screen and (max-width: 508px) {
  .slider-block .slider {
    height: 637px;
  }
}

@media screen and (max-width: 506px) {
  .slider-block .slider {
    height: 635px;
  }
}

@media screen and (max-width: 504px) {
  .slider-block .slider {
    height: 633px;
  }
}

@media screen and (max-width: 502px) {
  .slider-block .slider {
    height: 631px;
  }
}

@media screen and (max-width: 500px) {
  .slider-block .slider {
    height: 629px;
  }
}

@media screen and (max-width: 498px) {
  .slider-block .slider {
    height: 628px;
  }
}

@media screen and (max-width: 496px) {
  .slider-block .slider {
    height: 625px;
  }
}

@media screen and (max-width: 494px) {
  .slider-block .slider {
    height: 623px;
  }
}

@media screen and (max-width: 492px) {
  .slider-block .slider {
    height: 620px;
  }
}

@media screen and (max-width: 490px) {
  .slider-block .slider {
    height: 617px;
  }
}

@media screen and (max-width: 488px) {
  .slider-block .slider {
    height: 613px;
  }
}

@media screen and (max-width: 486px) {
  .slider-block .slider {
    height: 609px;
  }
}

@media screen and (max-width: 484px) {
  .slider-block .slider {
    height: 605px;
  }
}

@media screen and (max-width: 482px) {
  .slider-block .slider {
    height: 601px;
  }
}

@media screen and (max-width: 480px) {
  .slider-block .slider {
    height: 596px;
  }
}

@media screen and (max-width: 478px) {
  .slider-block .slider {
    height: 600px;
  }
}

@media screen and (max-width: 476px) {
  .slider-block .slider {
    height: 598px;
  }
}

@media screen and (max-width: 474px) {
  .slider-block .slider {
    height: 599px;
  }
}

@media screen and (max-width: 472px) {
  .slider-block .slider {
    height: 599px;
  }
}

@media screen and (max-width: 470px) {
  .slider-block .slider {
    height: 589px;
  }
}

@media screen and (max-width: 468px) {
  .slider-block .slider {
    height: 591px;
  }
}

@media screen and (max-width: 466px) {
  .slider-block .slider {
    height: 589px;
  }
}

@media screen and (max-width: 464px) {
  .slider-block .slider {
    height: 588px;
  }
}

@media screen and (max-width: 434px) {
  .slider-block .slider {
    height: 570px;
  }
}

@media screen and (max-width: 433px) {
  .slider-block .slider {
    height: 568px;
  }
}

@media screen and (max-width: 432px) {
  .slider-block .slider {
    height: 566px;
  }
}

@media screen and (max-width: 431px) {
  .slider-block .slider {
    height: 564px;
  }
}

@media screen and (max-width: 430px) {
  .slider-block .slider {
    height: 562px;
  }
}

@media screen and (max-width: 429px) {
  .slider-block .slider {
    height: 560px;
  }
}

@media screen and (max-width: 428px) {
  .slider-block .slider {
    height: 558px;
  }
}

@media screen and (max-width: 427px) {
  .slider-block .slider {
    height: 556px;
  }
}

@media screen and (max-width: 426px) {
  .slider-block .slider {
    height: 554px;
  }
}

@media screen and (max-width: 425px) {
  .slider-block .slider {
    height: 552px;
  }
}

@media screen and (max-width: 423px) {
  .slider-block .slider {
    height: 550px;
  }
}

@media screen and (max-width: 421px) {
  .slider-block .slider {
    height: 548px;
  }
}

@media screen and (max-width: 419px) {
  .slider-block .slider {
    height: 546px;
  }
}

@media screen and (max-width: 417px) {
  .slider-block .slider {
    height: 544px;
  }
}

@media screen and (max-width: 415px) {
  .slider-block .slider {
    height: 542px;
  }
}

@media screen and (max-width: 413px) {
  .slider-block .slider {
    height: 540px;
  }
}

@media screen and (max-width: 411px) {
  .slider-block .slider {
    height: 538px;
  }
}

@media screen and (max-width: 409px) {
  .slider-block .slider {
    height: 537px;
  }
}

@media screen and (max-width: 407px) {
  .slider-block .slider {
    height: 535px;
  }
}

@media screen and (max-width: 390px) {
  .slider-block .slider {
    height: 524px;
  }
}

@media screen and (max-width: 388px) {
  .slider-block .slider {
    height: 522px;
  }
}

@media screen and (max-width: 386px) {
  .slider-block .slider {
    height: 520px;
  }
}

@media screen and (max-width: 384px) {
  .slider-block .slider {
    height: 518px;
  }
}